.single__card{
 // background-color: #2B2B2B;
}

.all__bar{
 width: 55%;
 background-color: gray;
 border-radius: 0.4em;
 .progress__bar{
   border-radius: 0.4em;
 }
.score__bad{
 background-image: linear-gradient(to right, #870000, #190a05);
}
.score__ok{
  background: linear-gradient(to right, #ff9e00, #ff6d00);
}
.score__good{
 background-image: linear-gradient(to right, #00b09b, #96c93d);
}
}