.card__extra{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 font-size: 0.8em;
 .cost__item__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
 }

}