@import "../../design/scss/const";
.sidebar {
  display: none !important;
  min-height: 100vh;
  min-width: 60px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  .test {
    position: fixed;
  }

  .arrow__left,
  .arrow__right {
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .arrow__left {
    background-image: url(../../design/imgs/arrow-left.png);
  }
  .arrow__right {
    background-image: url(../../design/imgs/arrow-right.png);
  }
  .sidebar__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
    border-radius: 50%;
    min-width: 55px;
    min-height: 55px;
    z-index: 10;
  }
  .big__map__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    cursor: pointer;
    margin: 0.3em 0;
    min-width: 55px;
    min-height: 55px;
    z-index: 10;
  }
}

@media screen and (min-width: $breakpoint-tablet) {
  .sidebar {
    display: block !important;
    .leaflet-container {
      width: 300px !important;
      height: 300px !important;
    }
  }
  .push__content {
    width: 310px !important;
  }
}
@media screen and (min-width: $breakpoint-pc) {
  .push__content {
    width: 510px !important;
  }
  .sidebar {
    .leaflet-container {
      width: 500px !important;
      height: 500px !important;
    }
  }
}
