@import "./const";
.dark {
  .bg__head {
    background-image: url("../imgs/bg-night.jpg");
    background-color: rgba(0, 0, 0, 0.25);
    background-blend-mode: multiply;
  }

  .title__color {
    text-shadow: 0.022em 0.022em 0.022em $dTheme2;
    color: $dColorNeon;
  }
  .sidebar,
  .main__content {
    background-color: $dTheme1;
  }
  .text__color {
    color: white;
  }
  .search__input {
    background-color: $dTheme2;
    color: aliceblue;
    border: none;
  }
  .reslist__color {
    background-color: $dCardColor;
    .reslist__e__color {
      border-bottom: solid 0.1em white;
      color: white;
    }
  }
  .sidebar {
    .button__color {
      background-color: $dTheme2;
      box-shadow: 0 10px 10px ($dColorNeon);
      border: $dTheme1 solid 0.02em;
    }
    .to__top__color {
      color: $dColorNeon;
    }
  }
  .card__color {
    border: 0.2em solid $dTheme2;
    background-color: $dCardColor;
    color: white;
    .card__title {
      background-color: rgba(0, 0, 0, 0.5);
      background-blend-mode: multiply;
    }
     .card__text__title {
       text-shadow: 0.022em 0.022em 0.022em rgb(255, 252, 252);
       color: $dColorNeon;
       ;
     }
  }
}
